body
        {
            margin : 0;
        }

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    text-align: center;
    padding : 50px;
    border-bottom: 2px solid grey;
    margin : 0;
}

#grid ol {

    width : 100px;
    margin : 0;
    padding : 20px;
    padding-left: 30px;
    border-right : 2px solid grey;
}

#grid {
    display : grid;
    grid-template-columns : 150px 1fr;
}

#arti {
    padding-left: 25px;
}

@media(max-width: 500px){
    h1 {
        font-size: 20px;
        border-bottom : none;
    }
    #grid ol {
        border-right : none;
    }
}
